#container{position: absolute;margin:auto;padding:50px;width: 762px;height: 1000px;background-color:black;}

#nextshirt {cursor:url(../../ast/cursorin.gif),auto;}
#nextpants{cursor:url(../../ast/cursorin.gif),auto;}

#background{position: absolute;width: 562px;height: 1000px;left:100px;right:100px;background-image: url("bg%20bg.png");}
#base{ position: absolute; width: 562px; height: 1000px; background-image: url("borg%20dressup%20base.png");}
#pants{position: absolute; width: 562px; height: 1000px;}
#shirt{position: absolute; width: 562px; height: 1000px;}


.pants0{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20pants%200.png");}
.pants1{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20pants%201.png");}
.pants2{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20pants%202.png");}
.pants3{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20pants%203.png");}
.pants4{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20pants%204.png");}


.shirt0{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20shirt%200.png");}
.shirt1{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20shirt%201.png");}
.shirt2{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20shirt%202.png");}
.shirt3{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20shirt%203.png");}
.shirt4{position: absolute; width: 562px; height: 1000px; 
background-image: url("borg%20dressup%20shirt%204.png");}