body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Style the header section */
header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style the navigation menu */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
  background-color: #333;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #333;
}

/* Style the main content area */
main {
  padding: 20px;
}

/* Style section headers */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Style paragraphs */
p {
  text-align:center;
  background:white;
  padding:10px
}

/* Style links */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
    color: black;
    padding: 0px;
    display: inline;
}

footer a {
    display:inline;
}

form {
    display:grid;
}

form label {
  text-align:center;
}

h1 {
  text-align:center;
}


section p {
  padding: 0px;
  border: 2px solid black;
  margin: 0px;
}

div p {
  padding: 0px;
  margin: 0px;
}

ul {
  text-align: center;
}

li {
  background:black;
  color:white
}

@font-face {
    font-family: Kid;
    src: url(MoreOfUs.ttf);
}

  @font-face {
    font-family: Analog;
    src: url(vcr.ttf);
    font-size: 50px;
}

 @font-face {
    font-family: Redacted;
    src: url(Redacted.ttf);
    font-size: 50px;
}

   @font-face {
    font-family: Sayori;
    src: url(Hashtag.ttf);
    font-size: 50px;
}

   @font-face {
    font-family: Pigpen;
    src: url(pigpen.html);
    font-size: 50px;
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
  header {
    font-size: 24px;
  }

  nav {
    font-size: 14px;
  }

  main {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}